body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: #fff;
}

span {
    white-space: pre;
    font-family: 'Cinzel', serif;
}

ul {
    list-style: none;
    text-align: right;
    text-transform: uppercase;
}

.navbar-outer {
    position: absolute;
    width: 100%;
}

.navbar {
    margin: 0 auto;
    font-family: 'Cinzel', serif;
    z-index: 2;
}

.navbar-reload i {
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 20px;
    color: #fff;
}

.navbar-reload:hover i, .navbar-reload:active i, .navbar-reload:focus i {
    color: #d61a28;
}

.navbar-brand {
    /* text-transform: uppercase; */
    font-size: 1.5rem;
    margin: 0;
    color: #fff;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    color: #333 !important;
}

.navbar-widget {
    position: absolute;
    right: 0;
    color: #fff;
}

.jumbotron {
    /* background-image: url("assets/images/gordon_bg.png"); */
    /* background-image: url("../images/gordon_bg.jpg");
    max-height: 568px;
    max-width: 960px;
    height: 568px;
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #000;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.jumbotron img {
    max-width: 960px;
    max-height: 568px;
    width: 100%;
    height: 100%;
}

#instructions, #word, #word-previous-container, #letters-guessed {
    text-align: center;
}

#instructions {
    font-size: 1.5rem;
    font-weight: 400;
}

#instructions-outer {
    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 0;
    right: 0;
}

#word-current {
    font-size: 4rem;
    letter-spacing: 0.5rem;
}

#letters {
    font-size: 2rem;
}

@media (min-width: 576px) {
    nav {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    nav {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    nav {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    nav {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    #word-current {
        font-size: 3rem;
        letter-spacing: 0.35rem;
    }
}

@media (max-width: 768px) {
    .navbar-reload {
        display: none;
    }

    .navbar-widget {
        display: none;
    }

    #instructions-outer {
        bottom: 20px;
    }

    #instructions {
        font-size: 1.2rem;
    }

    #word-current {
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }

    #letters {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    #word-current {
        font-size: 1.1rem;
        letter-spacing: 0.2rem;
    }
}